
.navB{
    display: flex;
    width: 100vw;
    position: relative;
    height: 57px;
    font-size: 0;
}

.nav2 {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.nav3 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav2 a {
	line-height: 57px;
	height: 100%;
	font-size: 12px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.nav3 a {
	line-height: 57px;
	height: 100%;
	font-size: 12px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.navB .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

.Individuals2 {
	width: 120px;
	color: #e74c3c;
}

.Individuals {
	width: 120px;
	color: black
	
}

.Occurrences2{
	width: 120px;
	color: #e74c3c;
}
.Occurrences{
	width: 120px;
	color: black;

}

.Features {
	width: 120px;
	color: black;
}

.Features2 {
	width: 120px;
	color: #e74c3c;

}

.Devices {
	width: 120px;
	color: black;
	
}
.Devices2 {
	width: 120px;
	color:#e74c3c
}

.Sign-in{
	width: 176px;
	color: black;
}


.Sign-in2{
	width: 176 px;
    color: #5ad1cd;
}

.nav3 .Sign-in3{
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
	margin-right: 50px;
}

.nav3 .Sign-in4{
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin-right: 50px;
}

.Sign-in3{
	width: 176px;
	margin-left: 40px;
}

.Sign-in3:hover~.animation {
	width: 186px;
	right: 0px;
	background-color: #e575dd;
}

.Sign-in4{
	width: 186px;
	right: 0px;
    background-color: #e575dd;
}

.ls-login-image2{
	width: 24px;
	margin-right: 10px;
}

.ls-login-image{
	width: 146px;
	margin-right: 10px;
	margin-left: 10px;
}


.nav3 .Sign-in{
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin-right: 9px;
}


.nav3 .Sign-in2{
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 186px;
}

.Sign-in:hover {
	color: #5ad1cd;
}

.Individuals:hover {
	color: #e74c3c;
}
.Occurrences:hover {
	color: #e74c3c;
}
.Features:hover {
	color: #e74c3c;
}

.Devices:hover {
	color: #e74c3c;
}


button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }
  
  button:focus,
  input:focus {
    outline: 0;
  }
  
